# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments
.venv
venv/
venv.bak/

# Pyre type checker
.pyre/

# Database
*.db
*.sqlite
*.sqlite3

# Alembic
alembic/versions/*.py
!alembic/versions/README
